*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: rebeqa;
  src: url(../public/Rebeqa-Black.otf);
}

main{
  width: 300%;
  height: auto;
  background-color: aliceblue;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
}
main::-webkit-scrollbar {
  display: none;
}
.section{
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first{
  background-color: aliceblue;
}
.second{
  background-color: blanchedalmond;
}
.third{
  background-color: rebeccapurple;
}
.title{
  display: flex;
  margin-bottom: -8.5rem;
  margin-top: 2rem;
  
 
}
p{
  font-family: rebeqa;
  font-size: 18rem;
  z-index: 1;
  opacity: 0;
  transform: translateY(50px);
}
span{
  font-family: rebeqa;
  font-size: 18rem;
  z-index: 3;
  opacity: 0;
  transform: translateY(50px);
}
.images{
  width: 700px;
  height: 600px;
  opacity: 0;
  transform: translateY(-100px);
}
.br1{
  background-image: url(./images/BR1.jpg);
  background-size: cover;
  margin-bottom: 2rem;
  z-index: 2;
  
}